{% extends 'common.html' %}
 
{% block title %}Hello{% endblock %}

{% block content %}
    %div.container-fluid
      %div.row
        %div.col-md-12
          <img src="../static/image/logo_small.png" class="img-responsive" align="left">
          %h1(style="font-size:50px")
            &nbsp;latte らて
          %br

    %div.container-fluid
      %div.row
        %div.col-md-12
          %table.table.table-bordered#footable
            %thead
              %tr
                %th id
                %th code
                %th name1
            %tbody

{% endblock %}

{% block scripts %}
    <script src="../static/main/js/main.js"></script>
{% endblock  %}
