{% extends 'common.html' %}
 
{% block title %}牛乳宅配管理サービス{% endblock %}

{% block content %}
    %div.container-fluid
      %div.row
        %div.col-md-12
          <img src="../static/image/logo_small.png" class="img-responsive" align="left">
          %h1(style="font-size:50px")
            &nbsp;latte らて
          %br
    %div.container-fluid
      %div.row
        %div.col-md-2
          %div.input-group
            %span.input-group-addon
              グループ
            %div.form-group
                %select.form-control.input-sm#selGroupKb
        %div.col-md-6
          %div.row
            %div.col-md-1
              %div.form-group
                %input#chkYuko(type="checkbox" value="checkboxA" checked)
                &nbsp;
                %label(for="chkYuko")
                  有効
            %div.col-md-1
              %div.form-group
                %input#chkMuko(type="checkbox" value="checkboxB")
                &nbsp;
                %label(for="chkMuko")
                  無効
          
        
      %div.row
        %div.col-md-3
          %table.table-bordered.row.hover#tableCustomer
            %thead
              %tr
                %th 
                  顧客ID
                %th
                  配達順
                %th
                  氏名
            %tbody
            
        %div.col-md-5
          %button.btn.btn-primary.btn-sm(type="button" data-toggle="modal" data-target="#modalAddDaicho")
             新しい配達商品を追加
          %table.table-bordered.row.hover#tableDaicho
            %thead
              %tr
                %th 
                  商品ID
                %th
                  商品名
                %th
                  単価
                %th
                  月
                %th
                  火
                %th
                  水
                %th
                  木
                %th
                  金
                %th
                  土
                %th
                  日
            %tbody
        %div.col-md-4
          aaa

<!-- 台帳への商品追加モーダル -->
%div.modal.fade#modalAddDaicho(tabindex="-1")
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close(type="button" data-dismiss="modal")
          %span
            ×
        %h4.modal-title
          タイトル
      %div.modal-body
        %table.table-bordered.row.hover#tableAddDaicho
          %thead
            %tr
              %th 
                商品ID
              %th
                コード
              %th
                商品名
              %th
                単価
          %tbody
      %div.modal-footer
        %button.btn.btn-default(type="button" data-dismiss="modal")
          閉じる
        %button.btn.btn-primary(type="button")
          ボタン
          
{% endblock %}

{% block scripts %}
    <script src="../static/main/js/main.js"></script>
{% endblock  %}

