{% extends 'common.html' %}
 
{% block title %}牛乳宅配管理サービス{% endblock %}

{% block content %}
    %div.container-fluid
      %div.row
        %div.col-md-12
          %img.img-responsive(src="../static/image/logo_small.png" align="left" style="position:absolute; top:-5px")
          %h5(style="position:absolute; left:100px; top10px")
            牛 乳 宅 配 管 理 サ ー ビ ス
          %h1(style="font-size:45px; position:absolute; left:90px;")
            &nbsp;Latte Cloud
          %br
          %h1(style="font-size:45px; color:transparent" )
             &nbsp;
    %div.container-fluid
      %div.row
        %div.col-md-2
          %div.input-group
            %span.input-group-addon
              グループ
            %div.form-group
                %select.form-control.input-sm#selGroupKb
        %div.col-md-6
          %div.row
            %div.col-md-1
              %div.form-group
                %input#chkYuko(type="checkbox" value="checkboxA" checked)
                &nbsp;
                %label(for="chkYuko")
                  有効
            %div.col-md-1
              %div.form-group
                %input#chkMuko(type="checkbox" value="checkboxB")
                &nbsp;
                %label(for="chkMuko")
                  無効
          
        
      %div.row
        %div.col-md-3
          %table.table-bordered.row.hover#tableCustomer
            %thead
              %tr
                %th 
                  顧客ID
                %th
                  配達順
                %th
                  氏名
            %tbody
            
        %div.col-md-5
          %button.btn.btn-primary.btn-sm(type="button" data-toggle="modal" data-target="#modalAddDaicho")
             新しい配達商品を追加
          %table.table-bordered.row.hover#tableDaicho
            %thead
              %tr
                %th 
                  商品ID
                %th
                  商品名
                %th
                  単価
                %th
                  月
                %th
                  火
                %th
                  水
                %th
                  木
                %th
                  金
                %th
                  土
                %th
                  日
            %tbody
        %div.col-md-4
          aaa

<!-- 台帳への商品追加モーダル -->
%div.modal.fade#modalAddDaicho(tabindex="-1")
  %div.modal-dialog.modal-lg
    %div.modal-content
      %div.modal-header
        %button.close(type="button" data-dismiss="modal")
          %span
            ×
        %h4.modal-title#subAtitle
          タイトル
      %div.modal-body
        %div.rowc
          %table.table-bordered.row.hover#tableAddDaicho
            %thead
              %tr
                %th 
                  商品ID
                %th
                  コード
                %th
                  商品名
                %th
                  単価
                %th
                  登録状況
            %tbody
        %br
        %h4
          曜日ごとの宅配本数を入力してください。
        %div.row
          %div.col-md-12
            %div.form-group.form-inline
              %div.input-group
                %span.input-group-addon
                  月
                %input#inpDaichoAddMon.form-control.input-sm(type="text" style="width:50px" maxlength="2" oninput="fncNumOnly();")
              &nbsp;&nbsp;&nbsp;&nbsp;
              %div.input-group
                %span.input-group-addon
                  火
                %input#inpDaichoAddTue.form-control.input-sm(type="text" style="width:50px" maxlength="2" oninput="fncNumOnly();")
              &nbsp;&nbsp;&nbsp;&nbsp;
              %div.input-group
                %span.input-group-addon
                  水
                %input#inpDaichoAddWed.form-control.input-sm(type="text" style="width:50px" maxlength="2" oninput="fncNumOnly();")
              &nbsp;&nbsp;&nbsp;&nbsp;
              %div.input-group
                %span.input-group-addon
                  木
                %input#inpDaichoAddThu.form-control.input-sm(type="text" style="width:50px" maxlength="2" oninput="fncNumOnly();")
              &nbsp;&nbsp;&nbsp;&nbsp;
              %div.input-group
                %span.input-group-addon
                  金
                %input#inpDaichoAddFri.form-control.input-sm(type="text" style="width:50px" maxlength="2" oninput="fncNumOnly();")
              &nbsp;&nbsp;&nbsp;&nbsp;
              %div.input-group
                %span.input-group-addon
                  土
                %input#inpDaichoAddSat.form-control.input-sm(type="text" style="width:50px" maxlength="2" oninput="fncNumOnly();")
              &nbsp;&nbsp;&nbsp;&nbsp;
              %div.input-group
                %span.input-group-addon
                  日
                %input#inpDaichoAddSun.form-control.input-sm(type="text" style="width:50px" maxlength="2" oninput="fncNumOnly();")
      %div.modal-footer#modalAddDaichoFooter
        %div.row
          %div.col-md-10.text-right#modalAddDaichoMessageArea
          %div.col-md-1
            %button.btn.btn-default(type="button" data-dismiss="modal")
              閉じる
          %div.col-md-1
            %button#btnDaichoAdd.btn.btn-primary(type="button")
              決定


{% endblock %}

{% block scripts %}
    <script src="../static/main/js/main.js"></script>
{% endblock  %}

