{% extends 'common.html' %}
 
{% block title %}Hello{% endblock %}

{% block content %}
    %div.container-fluid
      %div.row
        %div.col-md-12
          <img src="../static/image/logo_small.png" class="img-responsive" align="left">
          %h1(style="font-size:50px")
            &nbsp;latte らて
          %br
    %div.container-fluid
      %div.row
        
      %br
      %div.row
        %div.col-md-3
        
          %div.input-group
            %span.input-group-addon
              グループ
            %div.form-group
                %select.form-control.input-sm#selGroupKb
          %br
          
          %div.row
            %div.col-md-3
              %div.form-group
                %input#chkYuko(type="checkbox" value="checkboxA" checked)
                &nbsp;
                %label(for="chkYuko")
                  有効
            %div.col-md-3
              %div.form-group
                %input#chkMuko(type="checkbox" value="checkboxB")
                &nbsp;
                %label(for="chkMuko")
                  無効
            
          %br
                    
          %table.table-bordered.row#footable
            %thead
              %tr
                %th 
                  顧客ID
                %th
                  配達順
                %th
                  氏名
            %tbody

{% endblock %}

{% block scripts %}
    <script src="../static/main/js/main.js"></script>
{% endblock  %}

