{% extends 'common.html' %}
 
{% block title %}牛乳宅配管理サービス{% endblock %}

{% block content %}
    %div.container-fluid
      %div.row
        %div.col-md-4
          %img.img-responsive(src="../static/image/logo_small.png" align="left" style="position:absolute; top:-5px")
          %h5(style="position:absolute; left:100px; top10px")
            牛乳宅配管理サービス&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© Yujiro Hara, 2020
          %h1(style="font-size:45px; position:absolute; left:90px;")
            &nbsp;Latte Cloud
          %br
          %h1(style="font-size:45px; color:transparent" )
             &nbsp;
        %div.col-md-8
          %br
          %div.row
            %div.col-md-3
              %div.input-group
                %span.input-group-addon
                  操作年月
                %div.form-group
                    %select.form-control.input-sm#selNentuki
            %div.col-md-1
              %div.input-group
                  %button.btn.btn-primary.btn-sm#btnSeikyuPrint(type="button")
                    請求書
            %div.col-md-8
              %div.input-group.pull-right
                %button.btn.btn-primary.btn-sm#btnSeikyuCreate(type="button")
                  請求データ作成
              
    %div.container-fluid
      %div.row
        %div.col-md-2
          %div.input-group
            %span.input-group-addon
              グループ
            %div.form-group
                %select.form-control.input-sm#selGroupKb
        %div.col-md-6
          %div.row
            %div.col-md-2
              %div.form-group
                %input#chkYuko(type="checkbox" value="checkboxA" checked)
                &nbsp;
                %label(for="chkYuko")
                  有効
            %div.col-md-2
              %div.form-group
                %input#chkMuko(type="checkbox" value="checkboxB")
                &nbsp;
                %label(for="chkMuko")
                  無効
          
        
      %div.row
        %div.col-md-3
          %table.table-bordered.row.hover#tableCustomer
            %thead
              %tr
                %th 
                  ID
                %th
                  経路
                %th
                  氏名
            %tbody
            
        %div.col-md-5
          %div.row
            %div.col-md-3
              %button.btn.btn-primary.btn-sm(type="button" data-toggle="modal" data-target="#modalAddDaicho")
                新しい配達商品を追加
            %div.col-md-9
              %div.col-md-10.text-left#mainAddDaichoMessageArea
                
          %table.table-bordered.row.hover#tableDaicho
            %thead
              %tr
                %th 
                  ID
                %th
                  商品名
                %th
                  単価
                %th
                  月
                %th
                  火
                %th
                  水
                %th
                  木
                %th
                  金
                %th
                  土
                %th
                  日
            %tbody
        %div.col-md-4
          %div.panel.with-nav-tabs.panel-primary
              %div.panel-heading
                %ul.nav.nav-tabs
                  %li.active
                    %a(href="#tab1primary" data-toggle="tab")
                      顧客情報
                  %li
                    %a(href="#tab2primary" data-toggle="tab")
                      請求履歴
                  %li
                    %a(href="#tab3primary" data-toggle="tab")
                      連絡事項
              %div.panel-body
                %div.tab-content
                  %div.tab-pane.fade.in.active#tab1primary
                    %div.row
                      %div.col-md-6
                        %div.input-group
                            %span.input-group-addon
                              氏名
                            %input.form-control#txtCustomerName(type="text")
                      %div.col-md-6
                        %div.input-group
                            %span.input-group-addon
                              カナ
                            %input.form-control#txtCustomerKana(type="text")
                    %div.row
                      %div.col-md-12
                        %div.input-group
                            %span.input-group-addon
                              住所
                            %input.form-control#txtAddress1(type="text")
                    %br
                    %div.row
                      %div.col-md-6
                        %div.input-group
                            %span.input-group-addon
                              電話
                            %input.form-control#txtTel1(type="text")
                      %div.col-md-6
                        %div.input-group
                            %span.input-group-addon
                              支払
                            %select.form-control.input-sm#selHaraiKb
                            
                    %div.row
                      %div.col-md-6
                        %div.input-group
                          %span.input-group-addon
                            経路
                          %input.form-control#txtList(type="text" disabled)
                          %span.input-group-btn
                            %button#btnListHenko.btn.btn-default(type="button")
                              変更
                      %div.col-md-6
                        %div.input-group
                            %span.input-group-addon
                              消税
                            %select.form-control.input-sm#selCustomerZeiKb
                    %br
                    %div.row
                      %div.col-md-6
                        %div.input-group
                            %span.input-group-addon
                              担当
                            %input.form-control#txtTantoName(type="text")
                      %div.col-md-6
                        %div.input-group
                            %span.input-group-addon
                              分類
                            %select.form-control.input-sm#selCustomerGroupKb
                    %br
                    %div.row
                      %div.col-md-10.text-left#mainUpdCustomerMessageArea
                      %div.col-md-2
                        %div.input-group
                          %button.btn.btn-primary.btn-sm#btnUpdateCustomer(type="button")
                            更新
                      
                  %div.tab-pane.fade#tab2primary
                    Primary 2
                  %div.tab-pane.fade#tab3primary
                    Primary 3

    %div.container-fluid
      %div.row
        %div.col-md-12
          %table.table-bordered.row.hover#tableSeikyu
            %thead
              %tr
                %th(rowspan="2")
                  ID
                %th(rowspan="2")
                  商品名
                %th(rowspan="2")
                  単価
                %th
                  1
                %th
                  2
                %th
                  3
                %th
                  4
                %th
                  5
                %th
                  6
                %th
                  7
                %th
                  8
                %th
                  9
                %th
                  10
                %th
                  11
                %th
                  12
                %th
                  13
                %th
                  14
                %th
                  15
                %th
                  16
                %th
                  17
                %th
                  18
                %th
                  19
                %th
                  20
                %th
                  21
                %th
                  22
                %th
                  23
                %th
                  24
                %th
                  25
                %th
                  26
                %th
                  27
                %th
                  28
                %th
                  29
                %th
                  30
                %th
                  31
              %tr
                %th#thYoubi1
                  
                %th#thYoubi2
                  2
                %th#thYoubi3
                  3
                %th#thYoubi4
                  4
                %th#thYoubi5
                  5
                %th#thYoubi6
                  6
                %th#thYoubi7
                  7
                %th#thYoubi8
                  8
                %th#thYoubi9
                  9
                %th#thYoubi10
                  10
                %th#thYoubi11
                  11
                %th#thYoubi12
                  12
                %th#thYoubi13
                  13
                %th#thYoubi14
                  14
                %th#thYoubi15
                  15
                %th#thYoubi16
                  16
                %th#thYoubi17
                  17
                %th#thYoubi18
                  18
                %th#thYoubi19
                  19
                %th#thYoubi20
                  20
                %th#thYoubi21
                  21
                %th#thYoubi22
                  22
                %th#thYoubi23
                  23
                %th#thYoubi24
                  24
                %th#thYoubi25
                  25
                %th#thYoubi26
                  26
                %th#thYoubi27
                  27
                %th#thYoubi28
                  28
                %th#thYoubi29
                  29
                %th#thYoubi30
                  30
                %th#thYoubi31
                  31
            %tbody

<!-- 配達順変更モーダル -->
%div.modal.fade#modalUpdList(tabindex="-1")
  %div.modal-dialog.modal-lg
    %div.modal-content
      %div.modal-header
        %button.close(type="button" data-dismiss="modal")
          %span
            ×
        %h4.modal-title#subBtitle
          配達順を変更します。
      %div.modal-body
        %div.row
        <div id="result"></div>

        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Seq.</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Seq.</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>2011/07/25</td>
                    <td>$170,750</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>2009/01/12</td>
                    <td>$86,000</td>
                </tr>
                <tr>
                    <td>41</td>
                    <td>Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>2012/03/29</td>
                    <td>$433,060</td>
                </tr>
                <tr>
                    <td>55</td>
                    <td>Airi Satou</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>2008/11/28</td>
                    <td>$162,700</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Brielle Williamson</td>
                    <td>Integration Specialist</td>
                    <td>New York</td>
                    <td>2012/12/02</td>
                    <td>$372,000</td>
                </tr>
                <tr>
                    <td>46</td>
                    <td>Herrod Chandler</td>
                    <td>Sales Assistant</td>
                    <td>San Francisco</td>
                    <td>2012/08/06</td>
                    <td>$137,500</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>Rhona Davidson</td>
                    <td>Integration Specialist</td>
                    <td>Tokyo</td>
                    <td>2010/10/14</td>
                    <td>$327,900</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>Colleen Hurst</td>
                    <td>Javascript Developer</td>
                    <td>San Francisco</td>
                    <td>2009/09/15</td>
                    <td>$205,500</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Sonya Frost</td>
                    <td>Software Engineer</td>
                    <td>Edinburgh</td>
                    <td>2008/12/13</td>
                    <td>$103,600</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Jena Gaines</td>
                    <td>Office Manager</td>
                    <td>London</td>
                    <td>2008/12/19</td>
                    <td>$90,560</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Quinn Flynn</td>
                    <td>Support Lead</td>
                    <td>Edinburgh</td>
                    <td>2013/03/03</td>
                    <td>$342,000</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Charde Marshall</td>
                    <td>Regional Director</td>
                    <td>San Francisco</td>
                    <td>2008/10/16</td>
                    <td>$470,600</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Haley Kennedy</td>
                    <td>Senior Marketing Designer</td>
                    <td>London</td>
                    <td>2012/12/18</td>
                    <td>$313,500</td>
                </tr>
                <tr>
                    <td>54</td>
                    <td>Tatyana Fitzpatrick</td>
                    <td>Regional Director</td>
                    <td>London</td>
                    <td>2010/03/17</td>
                    <td>$385,750</td>
                </tr>
                <tr>
                    <td>37</td>
                    <td>Michael Silva</td>
                    <td>Marketing Designer</td>
                    <td>London</td>
                    <td>2012/11/27</td>
                    <td>$198,500</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>Paul Byrd</td>
                    <td>Chief Financial Officer (CFO)</td>
                    <td>New York</td>
                    <td>2010/06/09</td>
                    <td>$725,000</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>Gloria Little</td>
                    <td>Systems Administrator</td>
                    <td>New York</td>
                    <td>2009/04/10</td>
                    <td>$237,500</td>
                </tr>
                <tr>
                    <td>48</td>
                    <td>Bradley Greer</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                    <td>2012/10/13</td>
                    <td>$132,000</td>
                </tr>
                <tr>
                    <td>45</td>
                    <td>Dai Rios</td>
                    <td>Personnel Lead</td>
                    <td>Edinburgh</td>
                    <td>2012/09/26</td>
                    <td>$217,500</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Jenette Caldwell</td>
                    <td>Development Lead</td>
                    <td>New York</td>
                    <td>2011/09/03</td>
                    <td>$345,000</td>
                </tr>
                <tr>
                    <td>57</td>
                    <td>Yuri Berry</td>
                    <td>Chief Marketing Officer (CMO)</td>
                    <td>New York</td>
                    <td>2009/06/25</td>
                    <td>$675,000</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>Caesar Vance</td>
                    <td>Pre-Sales Support</td>
                    <td>New York</td>
                    <td>2011/12/12</td>
                    <td>$106,450</td>
                </tr>
                <tr>
                    <td>56</td>
                    <td>Doris Wilder</td>
                    <td>Sales Assistant</td>
                    <td>Sidney</td>
                    <td>2010/09/20</td>
                    <td>$85,600</td>
                </tr>
                <tr>
                    <td>36</td>
                    <td>Angelica Ramos</td>
                    <td>Chief Executive Officer (CEO)</td>
                    <td>London</td>
                    <td>2009/10/09</td>
                    <td>$1,200,000</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Gavin Joyce</td>
                    <td>Developer</td>
                    <td>Edinburgh</td>
                    <td>2010/12/22</td>
                    <td>$92,575</td>
                </tr>
                <tr>
                    <td>51</td>
                    <td>Jennifer Chang</td>
                    <td>Regional Director</td>
                    <td>Singapore</td>
                    <td>2010/11/14</td>
                    <td>$357,650</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Brenden Wagner</td>
                    <td>Software Engineer</td>
                    <td>San Francisco</td>
                    <td>2011/06/07</td>
                    <td>$206,850</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Fiona Green</td>
                    <td>Chief Operating Officer (COO)</td>
                    <td>San Francisco</td>
                    <td>2010/03/11</td>
                    <td>$850,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Shou Itou</td>
                    <td>Regional Marketing</td>
                    <td>Tokyo</td>
                    <td>2011/08/14</td>
                    <td>$163,000</td>
                </tr>
                <tr>
                    <td>39</td>
                    <td>Michelle House</td>
                    <td>Integration Specialist</td>
                    <td>Sidney</td>
                    <td>2011/06/02</td>
                    <td>$95,400</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>Suki Burks</td>
                    <td>Developer</td>
                    <td>London</td>
                    <td>2009/10/22</td>
                    <td>$114,500</td>
                </tr>
                <tr>
                    <td>47</td>
                    <td>Prescott Bartlett</td>
                    <td>Technical Author</td>
                    <td>London</td>
                    <td>2011/05/07</td>
                    <td>$145,000</td>
                </tr>
                <tr>
                    <td>52</td>
                    <td>Gavin Cortez</td>
                    <td>Team Leader</td>
                    <td>San Francisco</td>
                    <td>2008/10/26</td>
                    <td>$235,500</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Martena Mccray</td>
                    <td>Post-Sales support</td>
                    <td>Edinburgh</td>
                    <td>2011/03/09</td>
                    <td>$324,050</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>Unity Butler</td>
                    <td>Marketing Designer</td>
                    <td>San Francisco</td>
                    <td>2009/12/09</td>
                    <td>$85,675</td>
                </tr>
                <tr>
                    <td>38</td>
                    <td>Howard Hatfield</td>
                    <td>Office Manager</td>
                    <td>San Francisco</td>
                    <td>2008/12/16</td>
                    <td>$164,500</td>
                </tr>
                <tr>
                    <td>53</td>
                    <td>Hope Fuentes</td>
                    <td>Secretary</td>
                    <td>San Francisco</td>
                    <td>2010/02/12</td>
                    <td>$109,850</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>Vivian Harrell</td>
                    <td>Financial Controller</td>
                    <td>San Francisco</td>
                    <td>2009/02/14</td>
                    <td>$452,500</td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>Timothy Mooney</td>
                    <td>Office Manager</td>
                    <td>London</td>
                    <td>2008/12/11</td>
                    <td>$136,200</td>
                </tr>
                <tr>
                    <td>34</td>
                    <td>Jackson Bradshaw</td>
                    <td>Director</td>
                    <td>New York</td>
                    <td>2008/09/26</td>
                    <td>$645,750</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Olivia Liang</td>
                    <td>Support Engineer</td>
                    <td>Singapore</td>
                    <td>2011/02/03</td>
                    <td>$234,500</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                    <td>2011/05/03</td>
                    <td>$163,500</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>Sakura Yamamoto</td>
                    <td>Support Engineer</td>
                    <td>Tokyo</td>
                    <td>2009/08/19</td>
                    <td>$139,575</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Thor Walton</td>
                    <td>Developer</td>
                    <td>New York</td>
                    <td>2013/08/11</td>
                    <td>$98,540</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Finn Camacho</td>
                    <td>Support Engineer</td>
                    <td>San Francisco</td>
                    <td>2009/07/07</td>
                    <td>$87,500</td>
                </tr>
                <tr>
                    <td>44</td>
                    <td>Serge Baldwin</td>
                    <td>Data Coordinator</td>
                    <td>Singapore</td>
                    <td>2012/04/09</td>
                    <td>$138,575</td>
                </tr>
                <tr>
                    <td>42</td>
                    <td>Zenaida Frank</td>
                    <td>Software Engineer</td>
                    <td>New York</td>
                    <td>2010/01/04</td>
                    <td>$125,250</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>Zorita Serrano</td>
                    <td>Software Engineer</td>
                    <td>San Francisco</td>
                    <td>2012/06/01</td>
                    <td>$115,000</td>
                </tr>
                <tr>
                    <td>49</td>
                    <td>Jennifer Acosta</td>
                    <td>Junior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>2013/02/01</td>
                    <td>$75,650</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Cara Stevens</td>
                    <td>Sales Assistant</td>
                    <td>New York</td>
                    <td>2011/12/06</td>
                    <td>$145,600</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Hermione Butler</td>
                    <td>Regional Director</td>
                    <td>London</td>
                    <td>2011/03/21</td>
                    <td>$356,250</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>Lael Greer</td>
                    <td>Systems Administrator</td>
                    <td>London</td>
                    <td>2009/02/27</td>
                    <td>$103,500</td>
                </tr>
                <tr>
                    <td>33</td>
                    <td>Jonas Alexander</td>
                    <td>Developer</td>
                    <td>San Francisco</td>
                    <td>2010/07/14</td>
                    <td>$86,500</td>
                </tr>
                <tr>
                    <td>43</td>
                    <td>Shad Decker</td>
                    <td>Regional Director</td>
                    <td>Edinburgh</td>
                    <td>2008/11/13</td>
                    <td>$183,000</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Michael Bruce</td>
                    <td>Javascript Developer</td>
                    <td>Singapore</td>
                    <td>2011/06/27</td>
                    <td>$183,000</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Donna Snider</td>
                    <td>Customer Support</td>
                    <td>New York</td>
                    <td>2011/01/25</td>
                    <td>$112,000</td>
                </tr>
            </tbody>
        </table>
    
        %br
      %div.modal-footer
        %div.row
          %div.col-md-10.text-right#modalUpdListMessageArea
          %div.col-md-1
            %button.btn.btn-default(type="button" data-dismiss="modal")
              閉じる
          %div.col-md-1
            %button#btnUpdList.btn.btn-primary(type="button")
              決定



<!-- 台帳への商品追加モーダル -->
%div.modal.fade#modalAddDaicho(tabindex="-1")
  %div.modal-dialog.modal-lg
    %div.modal-content
      %div.modal-header
        %button.close(type="button" data-dismiss="modal")
          %span
            ×
        %h4.modal-title#subAtitle
          タイトル
      %div.modal-body
        %div.row
          %table.table-bordered.row.hover#tableAddDaicho
            %thead
              %tr
                %th 
                  商品ID
                %th
                  コード
                %th
                  商品名
                %th
                  単価
                %th
                  登録状況
            %tbody
        %br
        %h4
          曜日ごとの宅配本数を入力してください。
        %div.row
          %div.col-md-12
            %div.form-group.form-inline
              %div.input-group
                %span.input-group-addon
                  月
                %input#inpDaichoAddMon.form-control.input-sm(type="text" style="width:50px" maxlength="2" oninput="fncNumOnly();")
              &nbsp;&nbsp;&nbsp;&nbsp;
              %div.input-group
                %span.input-group-addon
                  火
                %input#inpDaichoAddTue.form-control.input-sm(type="text" style="width:50px" maxlength="2" oninput="fncNumOnly();")
              &nbsp;&nbsp;&nbsp;&nbsp;
              %div.input-group
                %span.input-group-addon
                  水
                %input#inpDaichoAddWed.form-control.input-sm(type="text" style="width:50px" maxlength="2" oninput="fncNumOnly();")
              &nbsp;&nbsp;&nbsp;&nbsp;
              %div.input-group
                %span.input-group-addon
                  木
                %input#inpDaichoAddThu.form-control.input-sm(type="text" style="width:50px" maxlength="2" oninput="fncNumOnly();")
              &nbsp;&nbsp;&nbsp;&nbsp;
              %div.input-group
                %span.input-group-addon
                  金
                %input#inpDaichoAddFri.form-control.input-sm(type="text" style="width:50px" maxlength="2" oninput="fncNumOnly();")
              &nbsp;&nbsp;&nbsp;&nbsp;
              %div.input-group
                %span.input-group-addon
                  土
                %input#inpDaichoAddSat.form-control.input-sm(type="text" style="width:50px" maxlength="2" oninput="fncNumOnly();")
              &nbsp;&nbsp;&nbsp;&nbsp;
              %div.input-group
                %span.input-group-addon
                  日
                %input#inpDaichoAddSun.form-control.input-sm(type="text" style="width:50px" maxlength="2" oninput="fncNumOnly();")
      %div.modal-footer#modalAddDaichoFooter
        %div.row
          %div.col-md-10.text-right#modalAddDaichoMessageArea
          %div.col-md-1
            %button.btn.btn-default(type="button" data-dismiss="modal")
              閉じる
          %div.col-md-1
            %button#btnDaichoAdd.btn.btn-primary(type="button")
              決定


{% endblock %}

{% block scripts %}
    <script src="../static/main/js/main.js"></script>
{% endblock  %}

