-extends "bootstrap/base.html"

{% block title %}Hello{% endblock %}

{% block content %}

  %div.container
    %div.page-header
      %h1 Hello World!

      %form(action="" method="POST")
        %input.form-control(type="text" name="username")
        %input.form-control(type="text" name="password")
        %input.btn.btn-primary(type="submit")

{% endblock %}

