-extends "common.html"

{% block title %}latte{% endblock %}

{% block content %}
 
  %div.container
    %div.row
      %div.col-md-4
        <img src="../static/image/logo_small.png" class="img-responsive" align="left">
        %h1(style="font-size:50px")
          &nbsp;latte らて
        %br
        %form(action="" method="POST")
          %div.input-group
            %span.input-group-addon
              ユーザー名
            %input.form-control(type="text" name="username")
          %div.input-group
            %span.input-group-addon
              パスワード
            %input.form-control(type="password" name="password")
          %br
          %input.btn.btn-primary(type="submit" value="サインイン")

{% endblock %}

{% block scripts %}


<script>
  $(function() {
    $("#footable").DataTable();
  });
</script>
{% endblock  %}
