-extends "common.html"

{% block title %}latte{% endblock %}

{% block content %}
 
  %div.container
    %div.row
      %div.col-md-4
        %img.img-responsive(src="../static/image/logo_small.png" align="left" style="position:absolute; top:-5px")
        %h5(style="position:absolute; left:100px; top10px")
          宅 配 管 理 サ ー ビ ス
        %h1(style="font-size:45px; position:absolute; left:90px;")
          &nbsp;Latte Cloud
        %br
        %h1(style="font-size:45px; color:transparent" )
           &nbsp;
        %br
        %form(action="" method="POST")
          %div.input-group
            %span.input-group-addon
              ユーザー名
            %input.form-control(type="text" name="username")
          %div.input-group
            %span.input-group-addon
              パスワード
            %input.form-control(type="password" name="password")
          %br
          %input.btn.btn-primary(type="submit" value="サインイン")

{% endblock %}

{% block scripts %}


<script>
  $(function() {
    $("#tableCustomer").DataTable();
  });
</script>
{% endblock  %}
