{% extends 'common.html' %}

{% block title %}LatteCloud 注文管理{% endblock %}

{% block content %}
  %div
    %div.row
      %div.col-md-8
        %img.img-responsive(src="../static/image/logo_small.png" align="left" style="position:absolute; top:-5px")
        %h5(style="position:absolute; left:100px; top10px")
          牛乳宅配管理サービス&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© Yujiro Hara, 2020
        %h1(style="font-size:45px; position:absolute; left:90px;")
          &nbsp;Latte Cloud
        %br
        %h1(style="font-size:45px; color:transparent" )
          &nbsp;
      %div.col-md-4
        &nbsp;

  %div.container-fluid
    %div.row
      %div.col-md-2
        %h4(style="margin-top:0px !important")
          %span.label.label-success
            注文情報入力フォーム
      %div.col-md-10
        注文者は、注文日と納品希望日を設定し、「入力開始」ボタンをクリックしてください。
  %div.container-fluid#containerOrderForm
    %div.row
      %div.col-md-2
        %div.form-group
          %div.input-group
            %span.input-group-addon
              注文日
            %input.form-control.date#inpOrderDate(type="text")
      %div.col-md-2
        %div.form-group
          %div.input-group
            %span.input-group-addon
              納品希望日
            %input.form-control.date#inpHopeDate(type="text")

      %div.col-md-6
        %a.btn.btn-primary.btn-sm#btnShowItemList(type="button")
          入力開始
      %div.col-md-2(style="text-align:right")
        %a.btn.btn-primary.btn-sm#btnSettingOrderableList(type="button" data-toggle="modal" data-target="#modalSettingItemOrderable")
          表示設定

    %div.row
      %div.col-md-4
        %div.container-fluid#divTableOrderItemMasterLeft
          %table.table-bordered.row.hover#tableOrderItemMasterLeft
            %thead
              %tr
                %th 
                  ID
                %th
                  コード
                %th
                  商品名
                %th
                  仕入値
                %th
                  注文数
            %tbody

      %div.col-md-4
        %div.container-fluid#divTableOrderItemMasterCenter
          %table.table-bordered.row.hover#tableOrderItemMasterCenter
            %thead
              %tr
                %th 
                  ID
                %th
                  コード
                %th
                  商品名
                %th
                  仕入値
                %th
                  注文数
            %tbody

      %div.col-md-4
        %div.container-fluid#divTableOrderItemMasterRight
          %table.table-bordered.row.hover#tableOrderItemMasterRight
            %thead
              %tr
                %th 
                  ID
                %th
                  コード
                %th
                  商品名
                %th
                  仕入値
                %th
                  注文数
            %tbody

  %div
    &nbsp;
  
  %div.container-fluid#containerOrderForm
    %div.row
      %div.col-md-9
      %div.col-md-2
        %div.input-group
          %span.input-group-addon
            注文金額合計
          %input.form-control#lblOrderTotal(type="text" disabled style="text-align:right; font-size:18px")
      %div.col-md-1
        %a.btn.btn-primary.btn-sm#btnConfirmOrder(type="button" data-toggle="modal" data-target="#modalConfirmOrder")
          注文確認

    %hr

  %div.container-fluid
    %div.row
      %div.col-md-1
        %h4(style="margin-top:0px !important")
          %span.label.label-success#sectionOrderHistory
            注文履歴
      %div.col-md-2(style="text-align:right")
        注文日の範囲指定
      %div.col-md-4
        %div.form-group(style="float:left")
          %div.input-group
            %input.form-control.date#inpOrderDateJokenFrom(type="text")
        %div(style="float:left; padding-left:10px;padding-right:10px;text-align:left")
          ～
        %div.form-group(style="text-align:left")
          %div.input-group
            %input.form-control.date#inpOrderDateJokenTo(type="text")

      %div.col-md-4
      %div.col-md-1
        %a.btn.btn-primary.btn-sm#btnPrintOrderSeikyu(type="button")
          請求書

    %div.row
      %div.col-md-12
        %div.container-fluid#divTableOrderedGroup
          %table.table-bordered.row.hover#tableOrderedGroup
            %thead
              %tr
                %th 
                  注文者
                %th 
                  注文日時
                %th 
                  注文日
                %th 
                  納品<br>希望日
                %th
                  注文内容
                %th
                  合計額
                %th
                  確認日時
                %th
                  詳細
            %tbody

    %hr

<!-- 注文確認画面 -->
%div.modal.fade#modalConfirmOrder(tabindex="-1")
  %div.modal-dialog.modal-lg
    %div.modal-content
      %div.modal-header
        %button.close(type="button" data-dismiss="modal")
          %span
            ×
        %h4.modal-title#subFtitle
          注文内容を確認してください。
      %div.modal-body
        %div.row
          %div.col-md-10
            %div#divTableOrderItemMasterConfirm
              %table.table-bordered.row.hover#tableOrderItemMasterConfirm(width="100％")
                %thead
                  %tr
                    %th 
                      ID
                    %th
                      コード
                    %th
                      商品名
                    %th
                      仕入値
                    %th
                      注文数
                    %th
                      小計
                %tbody

      %div.modal-footer#modalConfirmOrderFooter
        %div.row
          %div.col-md-1
            %a.btn.btn-default#btnCloseOrderModal(type="button" data-dismiss="modal")
              閉じる
          %div.col-md-10#lblMessage2
            よろしければ、注文確定ボタンをクリックしてください。
          %div.col-md-1
            %a.btn.btn-danger.btn-sm#btnSendOrder(type="button")
              注文確定


<!-- 注文詳細 -->
%div.modal.fade#modalDetailOrder(tabindex="-1")
  %div.modal-dialog.modal-lg
    %div.modal-content
      %div.modal-header
        %button.close(type="button" data-dismiss="modal")
          %span
            ×
        %h4.modal-title#subtitleOrderDetailModal
          注文内容詳細
      %div.modal-body
        %div.row
          %div.col-md-10
            %div#divTableOrderItemMasterDetail
              %table.table-bordered.row.hover#tableOrderItemMasterDetail(width="100％")
                %thead
                  %tr
                    %th 
                      ID
                    %th 
                      コード
                    %th 
                      商品名
                    %th 
                      卸値
                    %th 
                      数量
                %tbody

      %div.modal-footer#modalDetailOrderFooter
        %div.row
          %div.col-md-1
            %a.btn.btn-default(type="button" data-dismiss="modal")
              閉じる
          %div.col-md-9#lblMessage3
            注文内容を確認し、問題なければ「了承」してください。
          %div.col-md-2
            %a.btn.btn-danger.btn-sm#btnReceivedOrder(type="button")
              注文内容を了承する


<!-- 注文可不可設定 -->
%div.modal.fade#modalSettingItemOrderable(tabindex="-1")
  %div.modal-dialog.modal-lg
    %div.modal-content
      %div.modal-header
        %button.close(type="button" data-dismiss="modal")
          %span
            ×
        %h4.modal-title#subtitleOrderDetailModal
          注文可能リストから除外する商品を選択してください。
      %div.modal-body
        %div.row
          %div.col-md-8
            %div#divTableSettingOrderable
              %table.table-bordered.row.hover#tableSettingOrderable(width="100％")
                %thead
                  %tr
                    %th 
                      ID
                    %th
                      コード
                    %th
                      商品名
                    %th
                      仕入値
                    %th
                      注文可能
                %tbody


      %div.modal-footer#modalSettingItemOrderableFooter
        %div.row
          %div.col-md-6(style="text-align:left")
          %div.col-md-6(style="text-align:right")

{% endblock %}

{% block scripts %}
    <script src="../static/main/js/order.js"></script>
{% endblock  %}




