{% extends 'common.html' %}

{% block title %}LatteCloud 売上管理{% endblock %}

{% block content %}
  %div
    %div.row
      %div.col-md-8
        %img.img-responsive(src="../static/image/logo_small.png" align="left" style="position:absolute; top:-5px")
        %h5(style="position:absolute; left:100px; top10px")
          牛乳宅配管理サービス&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© Yujiro Hara, 2020
        %h1(style="font-size:45px; position:absolute; left:90px;")
          &nbsp;Latte Cloud
        %br
        %h1(style="font-size:45px; color:transparent" )
          &nbsp;
      %div.col-md-4
        &nbsp;

  %div.container-fluid#containerOrderForm
    %div.row
      %div.col-md-2
        %div.form-group
          %div.input-group
            %span.input-group-addon
              開始日
            %input.form-control.date#inpSalesDateFrom(type="text")
      %div.col-md-2
        %div.form-group
          %div.input-group
            %span.input-group-addon
              終了日
            %input.form-control.date#inpSalesDateTo(type="text")
      %div.col-md-1
        %a.btn.btn-primary.btn-sm#btnSalesTermSelect(type="button")
          抽出
      %div.col-md-1#divDisplayOption1
    %hr
  %div.container-fluid#divMainContainer

{% endblock %}

{% block scripts %}
    <script src="../static/main/js/sales.js"></script>
{% endblock  %}




